body{
    background-color: #374151;
    text-align: center;
    color: white;
    width: 90%;
    margin: auto;
    background-image: url(imagenes/fondo-oro.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    color: goldenrod;
    text-align: center;
    font-size: 70px;
}
h2{
    color: goldenrod;
    text-decoration: underline ;
}
p{
    color: gray;
    font-size: 20px;
}