body{
    background-color: #374151;
    text-align: center;
    color: white;
    width: 90%;
    margin: auto;
    background-image: url(imagenes/fondobueno\ \(1\).webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    color: goldenrod;
    text-align: center;
    font-size: 70px;
}
ol{
    padding: 40px;
    margin: auto;
    list-style: none;
    text-align: center;
    width: calc(100%/4);
    gap: 40px;
    display: flex;
    justify-content: center;
}
a{
    color: white;
}
footer{
    color: goldenrod;
    background-color: white;
}
.aaa{
    width: 400px;

}
img:hover{
    box-shadow: 10px 20px 25px 10px rgba(245, 158, 11, 0.2);
    transform: translateY(-5px);
}
