html{
    font-size: 50px;
}
body{
    color: green;
    font-size: 40px;
}
h1{
    color: initial;
    text-decoration: underline;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    font-family: Arial;
}
.grupo{
    color: blue;
}
p{
    font-size: 1rem;
}
a{
    color: inherit;
}
#identificador{
    color: yellow;
}